:root {
  /* Color */
  --color-white: #ffffff;
  --color-dark-white: #f2f2f2;
  --color-pink: #ff6863;
  --color-green: #3bb94c;
  --color-grey: #616161;
  --color-light-grey: #bdbdbd;
  --color-yellow: #ffea00;
  --color-black: #000000;
  --color-blue: #0c6ff0;
  --color-mint-blue: #0583f2;
  --color-purple-blue: #444df2;

  /* Font size */
  --font-large: 48px;
  --font-medium: 23px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
}

::-webkit-scrollbar {
  display: none;
}

/**
 * header
 */
.header__wrap {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
}

.header__title {
  font-size: var(--font-regular);
}

.btn__close {
  font-size: 23px;
  cursor: pointer;
}

.process {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.process__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 25px;
}

.icon__wrap {
  border-radius: 25px;
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.process__ico {
  font-size: var(--font-micro);
}

.process__title {
  margin: 0px 8px 0px 5px;
  font-size: var(--font-micro);
}

.process__wrap.first {
  border: 1px solid var(--color-purple-blue);
  background-color: var(--color-purple-blue);
}

.process__wrap.first .icon__wrap {
  border: 1px solid var(--color-purple-blue);
}

.process__wrap.first .process__ico {
  color: var(--color-white);
}

.process__wrap.first .process__title {
  color: var(--color-white);
}

.dotted-line.first {
  color: var(--color-purple-blue);
  width: 20px;
}

.process__wrap.second {
  border: 1px solid var(--color-purple-blue);
  background-color: var(--color-white);
}

.process__wrap.second .icon__wrap {
  border: 1px solid var(--color-purple-blue);
  background-color: var(--color-purple-blue);
}

.process__wrap.second .process__ico {
  color: var(--color-white);
}

.process__wrap.second .process__title {
  color: var(--color-purple-blue);
}

.dotted-line.second {
  color: var(--color-dark-white);
  width: 20px;
}

.process__wrap.third {
  border: 1px solid var(--color-light-grey);
  background-color: var(--color-white);
}

.process__wrap.third .icon__wrap {
  border: 1px solid var(--color-light-grey);
}

.process__wrap.third .process__ico {
  color: var(--color-light-grey);
}

.process__wrap.third .process__title {
  color: var(--color-light-grey);
}

/**
 * calendar
 */

.calendar__wrap {
  background-color: var(--color-dark-white);
  height: 100px;
  margin-top: 20px;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
}

.month__wrap {
  display: flex;
  flex-direction: column;
}

.month {
  height: 17px;
  margin: 10px 10px 5px 15px;
  font-size: var(--font-micro);
}

.dates {
  display: flex;
}

.date__wrap {
  cursor: pointer;
}

.date__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55px;
}

.date__container.selected .date {
  border: 1px solid var(--color-mint-blue);
  border-radius: 25px;
  background-color: var(--color-mint-blue);
  color: var(--color-dark-white);
  font-weight: var(--weight-bold);
}

.date__container.selected .day {
  color: var(--color-mint-blue);
  font-weight: var(--weight-bold);
}

.date__container.sunday p {
  color: var(--color-pink);
}

.date__container.holiday p {
  color: var(--color-pink);
}

.date__container.inactive {
  cursor: default;
}

.date__container.inactive p {
  color: var(--color-light-grey);
}

.date {
  font-size: var(--font-medium);
  padding: 5px;
  margin: auto;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

.day {
  font-size: var(--font-micro);
  margin: 5px 0px;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
}

/**
 * contents
 */

.contents__wrap {
  height: 63.5vh;
  overflow-y: scroll;
  padding: 15px;
}

.product_name-wrap {
  margin-left: 10px;
}

.product__name {
  color: var(--color-grey);
}

.btn__content-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.btn__content {
  border: 1px solid var(--color-light-grey);
  border-radius: 5px;
  margin-bottom: 10px;
  width: 30.33%;
  height: 53px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.btn__content.blank {
  border: none;
  cursor: default;
}

.time {
  margin: auto;
  font-size: var(--font-regular);
}

.status {
  margin: auto;
  font-size: var(--font-micro);
}

.btn__content.sold-out {
  background-color: var(--color-dark-white);
  border-color: var(--color-dark-white);
}

.btn__content.sold-out .time {
  color: var(--color-light-grey);
}

.btn__content.sold-out .status {
  color: var(--color-light-grey);
}

.btn__content.relaxed .status {
  color: var(--color-green);
}

.btn__content.normal .status {
  color: var(--color-mint-blue);
}

.btn__content.confusion .status {
  color: var(--color-pink);
}

.btn__content.selected {
  border: 2px solid var(--color-mint-blue);
}

/**
 * footer
 */

.footer button {
  font-size: var(--font-regular);
}

.btn__prev {
  flex-grow: 1;
  outline: none;
  border: none;
  background-color: var(--color-dark-white);
}

.btn__next {
  flex-grow: 2;
  outline: none;
  border: none;
  background-color: var(--color-yellow);
  cursor: pointer;
}

.btn__next.inactive {
  border-left: 1px solid var(--color-light-grey);
  color: var(--color-light-grey);
  background-color: var(--color-dark-white);
}

.dimmed {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.dimmed.show {
  display: block;
}

/**
 * Popup
 */

.popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 25px;
  position: fixed;
  height: 40vh;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
}

.popup.show {
  transform: translateY(0);
}

.dtl__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-dark-white);
}

.dtl__title {
  font-size: var(--font-micro);
  color: var(--color-light-grey);
}

.dtl__value {
  font-size: var(--font-micro);
}

.dtl__total-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 3;
}

.total__title {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

.total__value {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

.btn__next-page {
  border: 1px solid var(--color-blue);
  border-radius: 25px;
  background-color: var(--color-blue);
  text-align: center;
  color: var(--color-white);
  width: 100%;
  height: 40px;
}

@media screen and (max-height: 740px) {
  .contents__wrap {
    height: 60.5vh;
  }
}

@media screen and (max-height: 667px) {
  .contents__wrap {
    height: 56.5vh;
  }
}
